<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Titulo </title>

    <!--<link= rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJQASx8j1Au-a5WDVnPi2lkFfwwEAa6hDDdjZlpLegxhjVEM1fgjWPGmkzs7" crossorigin="anonymous"> -->

  </head>
  <body>
    <div class='container'>
      <br>
      <br>
      <form method='GET' action='http://google.com'>
        <input type='text' name='q' placeholder='Search' /><br>
        <input type='submit' value='Search' />
      </form>
    </div>
  </body>
